@import '../mixins.scss';

.variable_mnm_form {

    .wc-mnm-variations {
        border-color: initial;
        border-width: 1px 0 0 0;
        padding: .5em 0;
        margin-bottom: 1.5em;
        ul.products li.product {
            margin-bottom: 0em;

            // APFS patch.
            .wcsatt-sub-options {
                .price, .woocommerce-Price-amount {
                font-size: 1em;
                font-size: 1rem;
                }
            }
        }
    }
    .single_variation .woocommerce-variation-availability { display: none; }
    .product-type-mix-and-match-variation {
        input[type="radio"] {
            display: none;
        }
        label {
            border: 1px solid;
            border-color: var( --wc-highligh-text, #ccc );
            padding: .5em;
            display: block;
            text-align: center;

            img {
                margin-bottom: 1.25em;
            }

            .variation-title {
                font-size: 1.25em;
                font-weight: bold;
            }

        }
        label:hover {
            background-color: var( --wc-secondary, #ebe9eb );
            cursor: pointer;
        }
        input:checked + label {
            border-color: var( --wc-primary, #a46497 );
        }
        
    }

    .wc_mnm_variation_out_of_stock .wc_mnm_variation > *:not(.mnm_cart) {
        opacity: 50%;
    }

    .single_variation_wrap.processing {
        position: relative;
    }

    .blockUI.blockOverlay {
        @include loader();
        z-index: 1000;
        border: medium none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #FFFFFF;
        opacity: 0.6;
        cursor: wait;
        position: absolute;
    }
}