/**
 * _mixins.scss
 * Borrow the WooCommerce Loader Animations.
 */
 @keyframes spin {
	100% {
		transform: rotate( 360deg );
	}
}

@mixin loader() {

	&::before {
        animation: spin .6s infinite linear;
        border-style: solid;
        border-width: 3px;
        border-color: rgba(0,0,0,0.1) !important;
        border-left-color: rgba(0,0,0,0.7) !important;
        border-radius: 50%;
        color: rgba(#000, 0.75);
        content: '';
        font-size: 2em;
        display: block;
        left: 50%;
        line-height: 1;
		height: 1em;		
        pointer-events: none;
		position: absolute;
		margin-left: -0.5em;
		margin-top: -0.5em;
		text-align: center;
        text-indent: -9999em;
        top: 50%;
        width: 1em;
        z-index: 9999;
	}
}

.variable_mnm_form {

    .wc-mnm-variations-field {
        border-color: initial;
        border-width: 1px 0 0 0;
        padding: .5em 0;
    }

    .wc-mnm-variations {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .single_variation .woocommerce-variation-availability { display: none; }

    .product-type-mix-and-match-variation {

        flex-basis: calc(25% - 1.5em);
        margin: 0 auto 1.5em auto;
        list-style: none;

        // APFS patch.
        .wcsatt-sub-options {
            font-size: .875em;
            font-size: .857rem;

            .woocommerce-Price-amount {
                font-size: 1em !important;
                font-size: 1rem !important;
            }
        }

        input[type="radio"] {
            display: none;
        }
        label {
            border: 1px solid;
            border-color: var( --wc-highligh-text, #ccc );
            padding: .5em;
            display: block;
            text-align: center;

            img {
                margin-bottom: 1.25em;
            }

            .variation-title {
                font-size: 1.25em;
                font-weight: bold;
                display: block;
            }

        }
        label:hover {
            background-color: var( --wc-secondary, #ebe9eb );
            cursor: pointer;
        }
        input:checked + label {
            border-color: var( --wc-primary, #a46497 );
        }
        
    }

    .wc_mnm_variation_out_of_stock .wc_mnm_variation > *:not(.mnm_cart) {
        opacity: 50%;
    }

    .single_variation_wrap.processing {
        position: relative;
    }

    .blockUI.blockOverlay {
        @include loader();
        z-index: 1000;
        border: medium none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #FFFFFF;
        opacity: 0.6;
        cursor: wait;
        position: absolute;
    }

}

/**
 * Not Mobile
 */
 @media screen and (min-width: 568px) {
    .variable_mnm_form .wc-mnm-variations.columns-3 .product-type-mix-and-match-variation {
        flex-basis: calc(33.3% - 1.5em);
    }
}



/**
 * Mini-cart @todo- break into own component.
 */
 .mnm-minicart-view-content-container {

    display: flex;
    flex-wrap: wrap;
    max-height: 310px;
    overflow: scroll;
    margin: 0 auto;
    text-align: center;
  
    .minicart-product-grid h4{margin-top:5px;}
  
    img {width: 100px;}
  
    h4 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.1;
      margin: 0;
      word-break: break-word;
    }
  
  }
  
  .mnm-minicart-view-content-wrapper,
  .mnm-minicart-view-footer-wrapper,
  .mnm-minicart-view-title-wrapper {
    padding: .625em;
    position: relative;
    text-align: center;
  }
  .mnm-minicart-view-footer-wrapper {
  
    .woocommerce-variation-add-to-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: .5em;
    }
  
    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      margin: .5em 0 0;
    }
  
    .mnm-minicart-quantity{
      font-size: 16px;
      line-height: 1.5;
    }
  
    .mnm-minicart-price .price{
      font-size: 18px !important;
    }
  }
  
  .mnm-minicart-view-main {
    background: #f7f7f7;
    bottom: 0;
    display: block;
    max-height: 75%;
    position: fixed;
    right: 0;
    width: 420px;
    z-index: 1000;
  }
  
  .mnm-minicart-view-title-wrapper {
    background: #c4c4c480;
    color: #363636;
    cursor:pointer;
  
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      margin: 5px 0;
    }
  }
  
  .variable-cart-footer-actions a {
    color: #cd2653;
    font-size: 14px;
    line-height: 24px;
    margin: 0 16px;
    text-decoration: underline;
  }
  
  .mnm-minicart-price-label {
    font-weight: 700;
  }
  
  .mnm-minicart-price .mnm-minicart-total-price .woocommerce-Price-amount {
      font-size: 16px !important;
      font-style: normal;
      line-height: 1.5;
  }
  
  .mnm-minicart-total-price {margin-right: 1em;}
  
  .minicart-product-grid {
    border: 1px solid #e7e9eb;
    font-size: 1.875em;
    flex: none;
    margin-bottom:5px;
    padding: .669em .125em;
    position: relative;
    width: calc( 33.33% - 13px );
  
    &:nth-child(2),
    &:nth-child(5){margin: 0 5px 5px;}
  
    * {text-align: center;}
  }
  
  .remove-child-item {
    background: #cd2653;
    border-radius: 50%;
    color: #fff;
    font-size: 0.733em;
    line-height: 1;
    position: absolute;
    right: .313em;
    text-align: center;
    top: .5em;
    width: 1.1em;
    height: 1.1em;
  }
  
  .mnm-edit-cart,
  .mnm-reset-cart,
  .remove-child-item {
    cursor: pointer;
  }
  
  .mix-and-match-root.single_mnm_variation {
    position: relative;
  }
    
  .mnm-minicart-popup-icon {
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    max-height: 40px;
    overflow: hidden;
  }
    
  @media screen and (max-width: 600px) {
    .mnm-minicart-view-main {
      width: 100%; }
  
    .mnm-minicart-view-content-container {
      background: #6d6d6d;
      display: flex;
      flex-wrap: nowrap;
      height: 110px;
      overflow: scroll;
  
      img {
        width: 70px;
      }
  
      .minicart-product-grid h4 {
        display:none;
      }
  
    }
  
    .minicart-product-grid {
      border:none;
      flex: none;
      width: 110px;
  
      &:nth-child(2),
      &:nth-child(5){
        margin: 0;
      }
    }
  
    .remove-child-item {
      right:10px;
      top:6px;
    }
  
    .mnm_form {
      &.layout_tabular table .woocommerce-loop-product__title,
      &.layout_grid .wc-block-grid__products .wc-block-grid__product-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
  
      &:not(.layout_tabular) .mnm_child_product_images {
        display: block;
        width: 45%;
      }
  
      &:not(.layout_tabular) .wc-mnm-block-child-item__product-details {
        width: calc( 55% - 20px);
        display: block;
        margin-left: 20px;
        text-align: left;
      }
    }
  
    .wc-mnm-block-child-item__product-description{
      font-size: 18px;
      line-height: 1.4;
    }
  
    .wc-mnm-child-item {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 20px;
    }
}

  