.mnm-variable-product .mnm_table th {
    text-align: right; }

.mnm_form .product-quantity .child_item__quantity .quantity .child_item__quantity_input.mnm-quantity {
    background: #006fad;
    border: 2px solid #006fad;
    border-radius: 50%;
    color: #fff;
    margin: 0 1em; }

.mnm_form.has-plus-minus-buttons .product-quantity .child_item__quantity .quantity .button {
    background: #e7e9eb;
    border-radius: 50%;
    color: #8e8a83; }

.mnm_form.has-plus-minus-buttons .product-quantity .child_item__quantity .quantity {
    width: 9.75em; }

form.cart .mnm-variable-product .mnm_child_products.tabular .quantity.mnm-checkbox-qty {
    align-items: center;
    flex-flow: column; }

.mnm_form .mnm-variable-product .mnm_child_products.tabular .product-quantity .quantity.mnm-checkbox-qty .qty {
    height: 1em; }

.mnm-variable-product-cart-view-main {
    background: #f7f7f7;
    bottom: 0;
    display: block;
    position: fixed;
    left: 0;
    width: 26.25em;
    z-index: 1; }

.mnm-variable-cart-view-title-wrapper h4 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.2;
    margin: 5px 0; }

.mnm-variable-cart-view-title-wrapper {
    background: #c4c4c480;
    color: #363636; }

.mnm-variable-cart-view-content-wrapper,.mnm-variable-cart-view-footer-wrapper,.mnm-variable-cart-view-title-wrapper {
    padding: .625em;
    text-align: center; }

.mnm-variable-cart-view-footer-wrapper p {
    font-family: 'Helvetica Neue';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    margin: .5em 0 0; }

.variable-cart-footer-actions a {
    margin: 0 1em; }

.mnm-minicart-price-label {
    font-weight: 700; }

.mnm-variable-cart-view-footer-wrapper .mnm-minicart-price {
    font-size: 1.25em; }

.mnm-minicart-price .mnm-minicart-total-price .woocommerce-Price-amount {
    color: #000000;
    font-family: 'Helvetica Neue';
    font-size: 0.667em !important;
    font-style: normal;
    line-height: 1.5em; }

.mnm-minicart-total-price {
    margin-left: 1em; }

.mnm-variable-cart-view-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    margin: 0 auto;
    text-align:center; }

.minicart-product-grid {
    border: 1px solid #e7e9eb;
    font-size: 30px;
    padding: 18px 2px;
    position: relative; }

.minicart-product-grid * {
    text-align: center; }

.mnm-variable-cart-view-content-container img {
    width: 100px;}

.mnm-variable-cart-view-content-container h4 {
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin:0;
    word-break: break-word; }

.remove-child-item {
    background: #CD2653;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 22px;
    height: 24px;
    line-height:1;
    position: absolute;
    left: 5px;
    text-align: center;
    top: 8px;
    width: 24px; }

.mnm-reset-cart,.mnm-edit-cart,.remove-child-item {
    cursor:pointer; }
