/**
 * _mixins.scss
 * Borrow the WooCommerce Loader Animations.
 */
 @keyframes spin {
	100% {
		transform: rotate( 360deg );
	}
}

@mixin loader() {

	&::before {
        animation: spin .6s infinite linear;
        border-style: solid;
        border-width: 3px;
        border-color: rgba(0,0,0,0.1) !important;
        border-left-color: rgba(0,0,0,0.7) !important;
        border-radius: 50%;
        color: rgba(#000, 0.75);
        content: '';
        font-size: 2em;
        display: block;
        left: 50%;
        line-height: 1;
		height: 1em;		
        pointer-events: none;
		position: absolute;
		margin-left: -0.5em;
		margin-top: -0.5em;
		text-align: center;
        text-indent: -9999em;
        top: 50%;
        width: 1em;
        z-index: 9999;
	}
}

.variable_mnm_form {

    .wc-mnm-variations {
        border-color: initial;
        border-width: 1px 0 0 0;
        padding: .5em 0;
    }

    .wc-mnm-variations--swatches {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .single_variation .woocommerce-variation-availability { display: none; }

    .product-type-mix-and-match-variation {

        &.insufficientstock, &.outofstock {
            opacity: 50%;
        }

        list-style: none;

        // APFS patch.
        .wcsatt-sub-options {
            font-size: .875em;
            font-size: .857rem;

            .woocommerce-Price-amount {
                font-size: 1em !important;
                font-size: 1rem !important;
            }
        }

        input[type="radio"] {
            display: none;
        }
        label {
            border: 1px solid;
            border-color: var( --wc-highligh-text, #ccc );
            padding: .5em;
            display: block;
            overflow: hidden;
            text-align: center;

            > span {
                display: block;
                margin-bottom: .5em;
            }

            img {
                margin-bottom: 0;
                float: left;
                margin-right: .5em;
                max-width: 3em;
                height: auto;
            }

            .wc-mnm-variations--variation-title {
                font-size: 1.25em;
                font-weight: bold;
            }

        }
        label:hover {
            background-color: var( --wc-secondary, #ebe9eb );
            cursor: pointer;
        }
        input:checked + label {
            border-color: var( --wc-primary, #a46497 );
        }
        
    }

    .single_variation_wrap {
        position: relative;
    }

    .blockUI.blockOverlay {
        z-index: 1000;
        border: medium none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #FFFFFF;
        opacity: 0.6;
        cursor: wait;
        position: absolute;
    }

}

/**
 * Not Mobile
 */
 @media screen and (min-width: 568px) {
    .variable_mnm_form {
        .wc-mnm-variations--swatches {

            display: flex;
            flex-wrap: wrap;

            .product-type-mix-and-match-variation {
                flex-basis: calc(25% - 1.5em);
                margin: 0 auto 1.5em auto;

                label img {
                    float: none;
                    max-width: 100%;
                    margin-bottom: 1.25em;
                }
            }

            &.columns-3 .product-type-mix-and-match-variation {
                flex-basis: calc(33.3% - 1.5em);
            }
        }
    }
}
